p#cf7_controls {
  text-align:center;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}
#cf7 {
  position:relative;
  width: 100%;
  margin:0 auto 10px;
}
#cf7 img {
  width: 100%;
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity  0.3s ease;
  -o-transition: opacity  0.3s ease;
  transition: opacity  0.3s ease;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
